@import url("https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
li {
  list-style: none;
}
html {
  font-size: 12px;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  transition: all 0.4s;
  background: #152533;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
